presets:
	- nette

rules:
	group-import: {minImports: 2}

paths:
	- src
	- tests

excludePaths:
	- fixtures*

fileExtensions:
	- php
	- phpt

overrides:
	- paths: [src]
	  groups: [optimized-calls]
	  nameResolution: certain
	  rules:
	  	name-fallback: {optimizedFunctions: qualified, optimizedConstants: qualified}
