presets:
	- nette

rules:
	groupImport: {minImports: 2}

paths:
	- src
	- tests

excludePaths:
	- fixtures*

fileExtensions:
	- php
	- phpt

overrides:
	- paths: [src]
	  groups: [optimizedCalls]
	  nameResolution: certain
	  rules:
	  	nameFallback: {optimizedFunction: qualified, optimizedConstant: qualified}
